body
{
    background: rgb(220, 240, 240);     
}

h1
{
    text-align: center;
    color: #f0ffff;
    font-weight: bold;
    margin: 30px 0px;
}

.header
{
    height: 55px;
    background: #22c1c3;
    background: linear-gradient(180deg, rgb(36, 206, 209) 0%, rgb(33, 184, 186) 100%); 
    display: flex;
}

.header div
{
    
    color: #f0ffff;
    margin: auto 0;
}

.header div:nth-child(1)
{
    flex: 1;
    font-size: 2em;
    padding-left: 30px;
}

.header div:nth-child(2)
{
    flex: 3;
}

.header div:nth-child(3)
{
    flex: 1;
    font-size: 1.3em;
    padding-right: 30px;
    text-align: right;
}

.header a
{
    margin-right: 10px;
    text-decoration: none;
    color: #f0ffff;
}

.menu a:hover
{
    color: #fedd22;
}

.menu li
{
    list-style: none;
    display:inline-block;
    font-size: 1.5em;
    margin: 0 10px;
}

.conteneur, .conteneur_l
{
    margin: auto;
    margin-top: 200px;
    padding: 15px 50px;
    width: 400px;
    background: #22c1c3;
    background: linear-gradient(180deg, rgb(36, 206, 209) 0%, rgb(33, 184, 186) 100%); 
    color: #f0ffff;;
}

.conteneur_l
{
    min-width: 600px;
}

.conteneur div, .conteneur_l div
{
   padding: 5px;
}

.conteneur div p, .conteneur_l div p
{
   margin: 0;
}

label
{
    display: inline-block;
    width: 130px;
    text-align: left;
    padding-left: 30px;
}

input
{
    width: 150px;
}

.barreBouton
{
    text-align: center;
    padding-top: 20px !important;
}

.btn {
    text-decoration: none;
    padding: 10px;
    font-family: arial;
    font-size: 1em;
    background-color: #f0ffff;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border: none;
}
    
    
.btn:hover {
    padding: 10px;
    background-color: #fedd22;
}

table
{
    margin: auto;
    border-collapse:collapse;
    color: #f0ffff;
}

td, th
{
    border: 1px solid #f0ffff !important;
    padding: 5px 10px;
    text-align: center;
}

thead th
{
    /*color: #fedd22;*/
    font-weight: bold;
    min-width:50px;
}